@{
    ViewBag.Title = "Article";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-6">
        <button id="submit" type="submit" class="btn btn-primary">
            Submit
        </button>
    </div>
    <div class="col-md-6">
        <div id="submitMessage"></div>
        <div id="statusLabel">Status:</div>
        <div id="status"></div>
        <div id="viewCountLabel">ViewCount:</div>
        <div id="viewCount"></div>
    </div>
</div>


<h3><p>A Man Who Wrote a Message in a Bottle 50 Years Ago Has Been Found</p></h3>
<p>ABC located Paul Gilmore, who wrote the letter when he was 13, through his family in Australia and England, who say that he’s currently on a cruise in the Baltic and he doesn’t know his letter has been found yet.</p>
<p>“It’s amazing, absolutely incredible,” his sister Annie Crossland said, according to ABC. “He’ll be chuffed to bits.” She added that “he sent about six of them.”</p>
