@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Goal</h1>
    <p class="lead">Simple page to test article activities.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
    </div>
</div>